@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("keyframes.css");

:root {
  font-size: 16px;

  --yellow: #f8c000;
  --gray: #f5f5f5;
  --blackish: #202020;

  font-family: "Open Sans", sans-serif;
}

html,
body {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*,
*:before,
*,
after {
  box-sizing: inherit;
}

.yellow {
  color: var(--yellow);
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 1.5rem;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: var(--yellow);
}

header {
  position: fixed;
  width: inherit;
  background-color: var(--blackish);
  color: white;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

header > div {
  display: flex;
  width: 70%;
  padding: 10px;
  margin: 0 auto;
  justify-content: space-between;
}

header label img {
  height: 30px;
}

#menu {
  display: none;
}

#menu:checked ~ nav {
  right: -23vh;
  top: -20vh;
}

nav {
  display: block;
  position: absolute;
  right: -150%;
  top: -500%;
  z-index: -1;
  background-color: var(--blackish);
  border-radius: 50%;
  width: 50vh;
  height: 50vh;
  transition: 1s;
  transition: 1s;
  margin: 0 auto;
}

nav ul {
  position: absolute;
  top: 29vh;
  left: 12vh;
  font-size: 1.5rem;
}

.page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#page2 {
  flex-direction: column;
  justify-content: center;
}

.next {
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: calc(100% / 2 - 50px / 2);
}

q {
  quotes: "«" "»";
  position: relative;
  font-size: 2rem;
  animation: slidein-right 1s;
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}

.circle {
  position: absolute;
  left: 2vw;
  background-color: var(--yellow);
  z-index: -1;
  width: 25vh;
  height: auto;
  border-radius: 50%;
  padding-top: 25vh;
  animation: circle-max 1s;
}

.developer {
  width: 28vh;
}

.profiles {
  width: 15%;
}

#page2 h2 {
  margin: 0 30px;
}

.circle2 {
  left: 0;
  margin: 0 calc(100% / 2 - 30vh / 2);
  top: 143vh;
  width: 30vh;
  padding-top: 30vh;
}

.slide {
  position: relative;
}

.slide > img {
  width: 50%;
  margin: 10px;
}

.hidden {
  position: absolute;
  display: block;
  top: 10px;
  left: 25%;
  background-color: white;
  width: 50%;
  height: 20%;
  font-size: 0.7rem;
  padding: 10px;
  overflow: hidden;
  transition: 1s;
}

.hidden img {
  width: 20px;
}

.hidden h3,
.hidden p {
  margin-bottom: 10px;
}

.hidden:hover,
.hidden:active {
  height: 90%;
  transition: 1s;
  cursor: pointer;
}

.cta {
  display: block;
  background-color: var(--blackish);
  color: var(--yellow);
  padding: 5px;
  font-family: "Playfair Display", serif;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#page4 h2 {
  margin-bottom: 20px;
}

form input,
textarea {
  display: block;
  margin: 5px;
  width: 100%;
  border: 2px var(--blackish) solid;
}

form button {
  margin: 10px 0;
  border: 2px var(--blackish) solid;
  width: 30%;
}

#page4 img {
  width: 30px;
}

#page4 {
  height: 85vh;
}

.circle4 {
  left: 0%;
  top: 319%;
  width: 42vh;
  padding-top: 42vh;
  display: flex;
  align-items: center;
  margin: 0 calc(100% / 2 - 40vh / 2);
}

footer {
  position: relative;
  z-index: 2;
  background-color: gray;
  color: white;
  font-family: "Playfair Display", serif;
  text-align: center;
  padding: 20px;
}

.top {
  z-index: 3;
  position: fixed;
  bottom: 20px;
  right: 10px;
}

.top img {
  width: 50px;
}

@media screen and (min-width: 800px) {
  :root {
    font-size: 17px;
  }

  .next:hover{
    background-color: var(--yellow);
    border-radius: 50%;
  }

  .next img{
    margin: 0px 0px -3px 0px;
  }

  .top:hover{
    transform: scale(0.8);
  }

  header label {
    display: none;
  }

  .circle {
    width: 40vh;
    padding-top: 40vh;
    margin: 0 calc(100% / 2 - 100vh / 2);
  }

  nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    color: white;
    z-index: 2;
  }

  nav ul {
    display: flex;
    color: white;
    position: relative;
    top: 0;
    left: 0;
  }

  nav li {
    margin: 7px;
  }

  .projects-container {
    display: flex;
    margin: 15vh 0;
  }

  .slide > img {
    width: 80%;
  }

  .circle2 {
    top: 133vh;
    margin: 0 calc(100% / 2 - 40vh / 2);
  }

  .developer {
    width: 40vh;
  }

  .circle4 {
    width: 50vh;
    padding-top: 50vh;
    margin: 0 calc(100% / 2 - 48vh / 2);
    z-index: -1;
  }

  .hidden h3 {
    font-size: 1.2rem;
  }

  .hidden p {
    font-size: 0.9rem;
  }

  .hidden {
    height: 16%;
  }

  #page4 h2{
    font-size: 1.7rem;
    margin-top: 20px;
  }

  #page4 form {
    padding-top: 15px;
  } 

  #page4 input,
  #page4 textarea,
  #page4 button {
    font-size: 1.2rem;
    padding: 5px;
  }

  textarea{
    height: 15vh;
  }

  .hidden:hover{
    height: 91%;
    transition: 1s;
    border: 3px var(--yellow) solid;
  }

  .slide:hover ~ .hidden{
    border: 3px var(--yellow) solid;
    height: 91%;
  }


  .hidden img {
    width: 30px;
  }

  .cta{
    font-size: 1rem;
    margin-top: 5px;
  }

  .cta:hover{
    background-color: white;
    border: 1px var(--blackish) solid;
    color: var(--blackish);
  }

  form > button:disabled {
    background-color: gray;
    color: black;
    cursor: not-allowed;
  }
}
